students {
  background-color: blue;
}
student {
  display: block;
  margin-top: 20pt;
}
usn,
name,
college,
branch,
year,
email {
  display: block;
  font-size: 18pt;
  font-style: italic;
  font-weight: bold;
}
usn:before {
  content: "USN: ";
  font-size: 22pt;
  font-style: Times new;
  font-weight: bold;
}

name:before {
  content: "Name: ";
  font-size: 22pt;
  font-style: Times new;
  font-weight: bold;
}
college:before {
  content: "College: ";
  font-size: 22pt;
  font-style: Times new;
  font-weight: bold;
}
branch:before {
  content: "Branch: ";
  font-size: 22pt;
  font-style: Times new;
  font-weight: bold;
}
year:before {
  content: "YOJ: ";
  font-size: 22pt;
  font-style: Times new;
  font-weight: bold;
}

email:before {
  content: "Email: ";
  font-size: 22pt;
  font-style: Times new;
  font-weight: bold;
}
